

body{
    background:antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}


nav{
   font-family: poppins;
 

}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background: linear-gradient(to left,lightgreen,skyblue);
    color: beige;
    align-items: center;
    
}

nav li{
   padding-left: 10px;
   padding-right: 10px;
    font-style: bold;
    color: azure;
    font-size: 15px;
}


.brand img{
    padding-right: 10px;
    width: 44px; 

}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;

}

.container{
    min-height: 72vh;
    
    color: white;
    font-family: "poppins";
    display: flex;
    margin: 23px auto;
    width: 65%;
    border-radius: 12px;
    padding:30px;
    background-image: url(covers/bg.jpg) ;
    background-position: 50%;
   
}

.bottom{
    position: sticky;
    height: 100px;
    background:linear-gradient(to left,lightgreen,skyblue);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}



.icons{
    margin-top: 20px;
    margin-bottom: 10px;    
    
}

.icons i{
    cursor: pointer;
    padding-left: 0px;
}



#myprogressbar{
    text-align: center;
    width: 70%;
    height: 50%;
    cursor:pointer;
  
}

.songItem{
        height: 55px;
        display: flex;
       
        margin: 15px 0;
        width: 135%;
        color:azure;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
        font-size:large;
        background: linear-gradient(to left,skyblue,lightgreen);
       
       
        
}

.songItem img{ 
    margin:0 10px ;
    width: 50px;
    border-radius: 50%;
} 

.songInfo{
    position: absolute;
    left: 15vw;
    font-family: 'Varela Round', sans-serif;
   
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    width: 5vw;
    height: 3vh;
    
    size: 50px;
}


.timestamp i{
    cursor: pointer;
}

.timestamp{
    margin: 50 px;
}



